flows.json
[{"id":"8e260e36.af87b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e37a3244.eacb5","type":"ui_form","z":"8e260e36.af87b","name":"","label":"","group":"fd994811.737c88","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":200,"wires":[["aceca082.e809a"]]},{"id":"aceca082.e809a","type":"function","z":"8e260e36.af87b","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["aa762517.282f58","ba7f0471.1c7df8"]]},{"id":"fc0b5dbc.ba276","type":"function","z":"8e260e36.af87b","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["93d455bf.8f39b8"]]},{"id":"aa762517.282f58","type":"watson-conversation-v1","z":"8e260e36.af87b","name":"Customer Care ","workspaceid":"1046b103-e6ea-472e-90d2-38c60692c15c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b8becd33-36fc-42bf-85d0-174e766675ec","timeout":"","optout-learning":false,"x":480,"y":80,"wires":[["9f8482ce.bcb88","fc0b5dbc.ba276"]]},{"id":"ba7f0471.1c7df8","type":"ui_text","z":"8e260e36.af87b","group":"fd994811.737c88","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":410,"y":240,"wires":[]},{"id":"9f8482ce.bcb88","type":"debug","z":"8e260e36.af87b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":40,"wires":[]},{"id":"93d455bf.8f39b8","type":"ui_text","z":"8e260e36.af87b","group":"fd994811.737c88","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":770,"y":240,"wires":[]},{"id":"fd994811.737c88","type":"ui_group","z":"","name":"Chatbot","tab":"97d3d5de.249e58","order":1,"disp":true,"width":11,"collapse":false},{"id":"97d3d5de.249e58","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]